<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python IDE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
    <script src="/static/js/script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Python IDE</h1>
        <div id="editor">print("Hello, Python IDE")</div>
        <button id="runButton">Run Code</button>
        <h3>Output : </h3>
        <pre id="output"></pre>
    </div>
</body>
</html>